ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
*.tar.bz2
*.tar.xz
gnome-system-monitor.desktop
gnome-system-monitor.desktop.in
help/*/index.docbook
help/*/legal.xml
help/*/*.stamp
help/Makefile
help/Makefile.in
*.mo
help/*/gnome-system-monitor.xml
help/gnome-system-monitor-*.omf
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
missing
omf.make
org.gnome.gnome-system-monitor.policy
org.gnome.gnome-system-monitor.policy.in
pixmaps/Makefile
pixmaps/Makefile.in
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.gmo
po/*.pot
po/*.sed
po/*@*.header
po/insert-header.sin
po/remove-potcdate.sin
po/stamp-it
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
*.o
*.lo
*.la
src/gnome-system-monitor
src/org.gnome.gnome-system-monitor.enums.xml
src/org.gnome.gnome-system-monitor.gschema.valid
src/org.gnome.gnome-system-monitor.gschema.xml
stamp-h1
xmldocs.make
*.patch
scripts/.deps/
scripts/gsm-kill
scripts/gsm-renice
gnome-system-monitor-kde.desktop
gnome-system-monitor-kde.desktop.in
