ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
gnome-system-monitor.desktop
gnome-system-monitor.desktop.in
gnome-system-monitor.appdata.xml
gnome-system-monitor-kde.desktop
gnome-system-monitor-kde.desktop.in
help/Makefile
help/Makefile.in
help/gnome-system-monitor-*.omf
help/*/gnome-system-monitor.xml
help/*/index.docbook
help/*/legal.xml
help/*/*.stamp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
missing
omf.make
org.gnome.gnome-system-monitor.policy
org.gnome.gnome-system-monitor.policy.in
pixmaps/Makefile
pixmaps/Makefile.in
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/insert-header.sin
po/remove-potcdate.sin
po/stamp-it
po/*.gmo
po/*.pot
po/*.sed
po/*@*.header
po/.intltool-merge-cache
scripts/gsm-kill
scripts/gsm-renice
scripts/.deps/
src/Makefile
src/Makefile.in
src/gnome-system-monitor
src/gsm-resources.c
src/org.gnome.gnome-system-monitor.enums.xml
src/org.gnome.gnome-system-monitor.gschema.valid
src/org.gnome.gnome-system-monitor.gschema.xml
src/org.gnome.gnome-system-monitor.gschema.xml.in
src/.deps/
src/.libs/
stamp-h1
xmldocs.make
*.la
*.lo
*.mo
*.o
*.patch
*.tar.bz2
*.tar.xz
*~
