[Desktop Entry]
Name=Process Manager
Name[sv]=Processhanterare
Comment=View Running Processes
Comment[sv]=Visa körande processer
TryExec=procman
Exec=procman
Icon=
Terminal=0
Type=Application
