.gsm-titlebar {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.gsm-proc-toolbar {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: shade(@borders, 0.90);
}