Source: procman
Section: admin
Priority: optional
Maintainer: Carlos Perelló Marín <carlos@gnome-db.org>
Standards-Version: 3.2.1

Package: procman
Architecture: any
Section: admin
Depends: ${shlibs:Depends}, libgnomeui32 (>= 1.2.5), libgal8 (>=0.8.99.2), libgtop1 (>= 1.0.6)
Description: Simple process monitor
 Procman is a simple process and system monitor.
